# {{ ansible_managed }}
# Any changes made here will be lost
{%	for route in item.routes %}
{%		if route.gw is defined %}
{{ route.to }} via {{ route.gw }} dev {{ item['dev'] }}{% if  item.vlan_id is defined %}.{{ item['vlan_id'] }}{%endif %}

{%		else %}
{{ route.to }} via dev {{ item.dev }}{% if  item.vlan_id is defined %}.{{ item['vlan_id'] }}{%endif %}

{%		endif %}
{%	endfor %}
