NAME={{ item['name'] }}
{%	if item['dev'] is defined %}
DEVICE={{ item['dev'] }}
{%	endif %}
{%	if item['type'] is defined %}
TYPE={{ item['type'] }}
{%	endif %}
ONBOOT={{ item['onboot']|default('yes') }}
USERCTL=no
{%	if  item['bridge'] is defined %}
BRIDGE={{ item['bridge'] }}
{%	endif %}
{%	if  item['bond_opts'] is defined %}

BONDING_OPTS="{{ item['bond_opts'] }}"
{%	endif %}
{%	if item['master'] is defined %}

BOOTPROTO=none
MASTER={{ item['master'] }}
SLAVE=yes
{%	elif item['team_master'] is defined %}

BOOTPROTO=none
TEAM_MASTER={{ item['team_master'] }}
{%		if item['team_port_config'] is defined %}
TEAM_PORT_CONFIG="{{ item['team_port_config'] }}"
{%		endif %}
{%	else %}

{%		if item['method'] is defined %}
BOOTPROTO={{ item['method']|lower }}
{%		endif %}
{%		if item['mac'] is defined %}
HWADDR={{ item['mac']|lower }}
{%		elif item['cloned_mac'] is defined %}
MACADDR={{ item['cloned_mac']|lower }}
{%		endif %}
{%		if item['method'] is defined and item['method']|lower == 'static' %}
{%			if item['ipaddr'] is defined %}
IPADDR={{ item['ipaddr'] }}
{%				if item['netmask'] is defined %}
NETMASK={{ item['netmask'] }}
{%				elif item['prefix'] is defined %}
PREFIX={{ item['prefix'] }}
{%				endif %}
{%				if item['gateway'] is defined %}
GATEWAY={{ item['gateway'] }}
{%				endif %}
{%			elif item['ip'] is defined %}
{%				for ip in item['ip'] %}
IPADDR{{ loop.index - 1 }}={{ ip['ipaddr'] }}
{%					if ip['prefix'] is defined %}
IPADDR{{ loop.index - 1 }}={{ ip['prefix'] }}
{%					endif %}
{%					if ip['gateway'] is defined %}
GATEWAY{{ loop.index - 1 }}={{ ip['gateway'] }}
{%					endif %}
{%				endfor %}
{%			endif %}
{%		elif item['method'] is defined and item['method']|lower == 'dhcp' %}
PEERDNS={{ item['peerdns']|default('yes') }}
PEERROUTES={{ item['peerroutes']|default('yes') }}
{%		endif %}
{%		if item['defroute'] is defined and item['defroute'] %}
DEFROUTE=yes
{%		endif %}
{%		if item['dns'] is defined %}
{%			for ns in item['dns'] %}
DNS{{ loop.index }}={{ ns }}
{%			endfor %}
{%		endif %}
{%		if item['search'] is defined %}
DOMAIN={% for search in item['search'] %}{{ search }}{% if not loop.last %} {% endif %}{% endfor %}
{%		endif %}

IPV6INIT=no
{%		if item['zone'] is defined %}
ZONE={{ item['zone'] }}
{%		endif %}
{%		if item['mtu'] is defined %}
MTU={{ item['mtu'] }}
{%		endif %}
{%		if  item['ethtool'] is defined %}
ETHTOOL_OPTS={{ item['ethtool'] }}
{%		endif %}
{%		if  item['vlan'] is defined %}
VLAN={{ item['vlan'] }}
{%		endif %}
{%	endif %}
